# Project outputs and datasets
/data/
/exp/output/
/exp/output_multi/
/main/detection_quality_adapter/scripts/tmp

# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor and OS files
.vscode/
.DS_Store
